@model IEnumerable<MegatubeV2.Contract>

    @{
        System.Globalization.CultureInfo ci_IT = new System.Globalization.CultureInfo("it-IT");
    }

    @if (Model.Count() > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <h2 class="m-b-2 m-t-0 f-w-300"><i class="fa fa-bank" aria-hidden="true"></i>Contracts</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed table-hover table-striped" id="paymentsTable">
                    <thead>
                        <tr>
                            <th class="small text-muted text-uppercase">
                                <strong>Filename</strong>
                            </th>
                            <th class="small text-muted text-uppercase">
                                <strong>Expire Date</strong>
                            </th>
                            <th class="no-sort"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="v-a-m"><span>@item.FileName</span></td>
                                    <td class="v-a-m">
                                        <span class='hide'>@item.Date.Ticks</span>
                                        <span class="media-heading">
                                            <span>@item.ExpireDate.ToShortDateString()</span>
                                        </span>
                                    </td>
                                    
                                    <td class="v-a-m">
                                        <a href="/Payments/DownloadReceipt/@item.Id" role="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-download-alt"></span> Download
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
            </div>
        </div>


        <script language="javascript">

            $(document).ready(function () {
                $('#paymentsTable').DataTable({
                    "pageLength": 5,
                    "order": [[0, "desc"]],
                    language: {
                        paginate: {
                            next: '&raquo;',
                            previous: '&laquo;'
                        }
                    },
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }]
                });
            });
        </script>
                            }
