@model IEnumerable<MegatubeV2.Channel>
@{
    bool loggedUsrIsManager = Session.GetUser().IsManager;
}

<div class="col-md-6 col-sm-6 col-xs-6 userBlock">
    <div class="page-header">
        <h2 class="m-b-2 m-t-0 f-w-300"><i class="fa fa-youtube-play" aria-hidden="true"></i>User's channels</h2>
    </div>
    <table class="table table-condensed table-hover table-striped" id="userChannelsTable">
        <thead>
            <tr>
                <th class="small text-muted text-uppercase">
                    Channels
                </th>
                <th class="small text-muted text-uppercase">
                    Registration Date
                </th>
                <th class="small text-muted text-uppercase no-sort">
                    YT link
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    string channelAction;
                    if (loggedUsrIsManager)
                    {
                        channelAction = "Edit";
                    }
                    else
                    {
                        channelAction = "Details";
                    }
                    <tr>
                        <td class="v-a-m">
                            <div class="media media-auto">
                                <div class="media-body media-middle">
                                    <span class="media-heading text-white">
                                        <a href="@Url.Action(channelAction, "Channels", new { id = item.Id })">@item.Name</a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="v-a-m">
                            <span class="text-white">@item.RegistrationDate.ToShortDateString()</span>
                        </td>
                        <td class="v-a-m">
                            @{ 
                                string YTurl = "https://www.youtube.com/channel/UC" + item.Id;
                            }
                            <a href="@YTurl" role="button" target="_blank" class="btn btn-default">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <hr />
</div>
