@model IEnumerable<MegatubeV2.Payment>

@{
    System.Globalization.CultureInfo ci_IT = new System.Globalization.CultureInfo("it-IT");
}

@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2 class="m-b-2 m-t-0 f-w-300"><i class="fa fa-bank" aria-hidden="true"></i>Payments</h2>
                    </div>
                </div>
                @*<div class="col-md-4 col-sm-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-xs-offset-2 text-right">
                        <button type="button" class="btn btn-sm btn-default">See All<i class="fa m-l-1 fa-angle-right"></i> </button>
                    </div>*@
            </div>
            <table class="table table-condensed table-hover table-striped" id="paymentsTable">
                <thead>
                    <tr>
                        <th class="small text-muted text-uppercase">
                            <strong>Date</strong>
                        </th>
                        <th class="small text-muted text-uppercase">
                            <strong>Amount</strong>
                        </th>
                        <th class="small text-muted text-uppercase">
                            <strong>Net</strong>
                        </th>
                        <th class="no-sort"> </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="v-a-m">
                                    <span class='hide'>@item.Date.Ticks</span>
                                    <span class="media-heading">
                                        <span>@item.Date.ToShortDateString()</span>
                                    </span>
                                </td>
                                <td class="v-a-m"><span>@item.Gross.ToString("C", ci_IT)</span></td>
                                <td class="v-a-m">@item.Net.ToString("C", ci_IT)</td>
                                <td class="v-a-m">
                                    <a href="/Payments/DownloadReceipt/@item.Id" role="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-download-alt"></span> Download
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <hr />
        </div>
    </div>


        <script language="javascript">

            $(document).ready(function () {
                $('#paymentsTable').DataTable({
                    "pageLength": 5,
                    "order": [[0, "desc"]],
                    language: {
                        paginate: {
                            next: '&raquo;',
                            previous: '&laquo;'
                        }
                    },
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }]
                });
            });
        </script>
                        }
