<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>     
        @{
            string errorMessage;

            try
            {
                errorMessage = ViewBag.Exception.Message;
            }
            catch (Exception)
            {
                errorMessage = (Session["LastError"] as Exception).Message;
                Session["LastError"] = null;
            }

         }
        <h2>@errorMessage</h2>
    </hgroup>
</body>
</html>
