
@{
    Layout = null;
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "m-t-3", id = "loginform" }))
{
    <div class="form-group">
        <input class="form-control" placeholder="Enter a Username or Email..." name="username">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Your Password..." name="password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember Password?
        </label>
    </div>

    <a href="javasctipt:{}" onclick="document.getElementById('loginform').submit(); return false;" role="button" class="btn btn-block m-b-2 btn-primary">Login</a>
}