
@{

}


@using (Html.BeginForm("UploadChannels", "Csv", FormMethod.Post, new { @class = "m-t-3", id = "uploadForm", enctype="multipart/form-data" }))
{
    <div class="form-group">        
        <div class="col-lg-4">
            <input class="form-control" type="file" name="file" size="40" placeholder="Load Channels" />
        </div>        
        <div class="col-lg-4">
            <input class="form-control" type="text" name="dollarToEuro" size="40" placeholder="Dollar To Euro Change" />
        </div>
        <div class="col-lg-4">
            <a href="javasctipt:{}" onclick="document.getElementById('uploadForm').submit(); return false;" role="button" class="btn btn-block m-b-2 btn-primary">Upload</a>
        </div>                      
    </div>
}
    

 