
/*--------------------  Classi generiche  ----------------------------*/

.content {
    padding-bottom: 50px !important;
}

.headerButton {
    float: right;
    margin-top: 5px;
}
.page-header h2 .fa {
    display:inline-block;
    width: 35px;
}
/*--------------------  Blocco search ------------------------*/

.dataTables_filter {
    text-align: right;
}

/*--------------------  ViewChannels  ----------------------------*/

table#userTable td {/* stesso ide della tabella users*/
    height: 50px;
}

/*--------------------  Datatables  ----------------------------*/
.dataTables_length select{
    margin: 0 10px;
}
.dataTables_filter input.form-control.input-sm {
    height: 27px;
    line-height: 27px;
    margin-left: 13px;
}

/*--------------------  Table Pagination  ----------------------------*/

.dataTablePagination {
    border-top: 1px solid #383838;
    padding: 5px;
}
.pagination {
    margin: 0;
}
.dataTablePag, .dataTableNum {
    display: inline-block;
}
.dataTableNum {
    margin-top: 5px;
    float: right;
}

/*--------------------  Colori ------------------------*/
body {
    color: #888888;
}

td.userDetails {
    color: #eeeeee;
}

ol.breadcrumb li{
    font-size:18px;
}

    ol.breadcrumb li.active {
        color: #990000;
        font-weight: bolder;
    }

#channelErrMsg{
    color:#ff0000;
}


/*--  Classi generiche
a {
    color: #990000;
}
a:hover, a:focus {
    color: #ff0000;
}
 --*/
    /*--  menu

.navigation .sidebar ul.side-menu li ul li.active > a:hover, .navigation .sidebar ul.side-menu li ul li.active > a {
    box-shadow: 3px 0 0 0 #990000 inset, 0px -1px 0px 0px #1A1A1A inset, 0px 1px 0px 0px transparent inset;
}
 --*/
    /*--  pagination

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #990000;
    border-color: #990000;
}

.pagination > li > a, .pagination > li > span {
    color: #990000;
}
    --*/